In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("insurance.csv")
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [3]:
data=dataset[["age","bmi","charges"]]

In [4]:
data["bmi"]=data["bmi"].astype(int)
data["charges"]=data["charges"].astype(int)

<ipython-input-4-20cf8a735f22>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["bmi"]=data["bmi"].astype(int)
<ipython-input-4-20cf8a735f22>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["charges"]=data["charges"].astype(int)

In [5]:
data.dtypes

age        int64
bmi        int64
charges    int64
dtype: object

In [6]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

## Splitting the dataset into the Training set and Test set

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.20, random_state=0)

## Feature Scaling

In [17]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

## Training the K-NN model on the Training set

In [9]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=5, metric="minkowski", p=2)

classifier.fit(x_train, y_train)

KNeighborsClassifier()

## Predicting a new result

In [10]:
classifier.predict(sc.transform([[28,33]]))

array([3171])

## Predicting the Test set results

In [11]:
y_pred=classifier.predict(x_test)

In [18]:
np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1)

array([[ 9377,  9724],
       [ 7789,  8547],
       [ 7804, 45702],
       [12648, 12950],
       [ 7526,  9644],
       [ 4134,  4500],
       [ 1615,  2198],
       [ 8457, 11436],
       [ 4646,  7537],
       [ 3659,  5425],
       [ 3260,  6753],
       [ 8442, 10493],
       [ 6849,  7337],
       [ 5125,  4185],
       [ 3213, 18310],
       [ 8703, 10702],
       [12142, 12523],
       [ 2497,  3490],
       [ 5028,  6457],
       [ 1639, 33475],
       [ 9863, 23967],
       [10976, 12643],
       [ 9377, 23045],
       [ 8026, 23065],
       [ 1391,  1674],
       [ 4673,  4667],
       [ 2680,  3732],
       [ 5699,  7682],
       [ 3353,  3756],
       [ 8520,  8413],
       [ 5974,  8059],
       [10982, 48970],
       [12981, 12979],
       [10226, 20630],
       [ 2302, 14571],
       [ 2866,  4137],
       [ 7152,  8347],
       [ 3277, 51194],
       [ 6571, 40003],
       [ 1391,  1880],
       [ 5855,  5458],
       [ 2866,  2867],
       [ 5415, 20149],
       [11363, 47496],
       [ 1727, 36149],
       [ 1748, 26018],
       [ 8601, 19749],
       [ 5969,  6940],
       [ 4134,  4718],
       [10959, 22192],
       [ 1826,  2899],
       [ 1252, 18838],
       [ 8233, 23568],
       [ 8798, 46255],
       [10982, 24227],
       [ 3366,  3268],
       [ 2416,  2322],
       [ 8442,  8827],
       [ 7045, 14478],
       [12142, 13112],
       [ 1842,  1253],
       [12638, 46718],
       [13143, 13919],
       [ 8835,  9630],
       [ 8124, 10736],
       [ 9875,  9880],
       [ 1639, 32548],
       [ 4670, 38746],
       [ 2103,  3180],
       [ 6393,  8162],
       [12129, 13041],
       [10965, 11554],
       [ 1967, 16232],
       [13887, 13887],
       [12142, 13012],
       [12222, 13217],
       [ 7222,  7147],
       [ 6849,  7731],
       [ 4883, 20296],
       [12741, 47403],
       [10965, 11658],
       [ 6356, 45863],
       [ 1981,  2055],
       [ 8520,  7441],
       [ 5979, 41034],
       [ 4571, 18972],
       [ 1837,  3410],
       [ 3956,  2699],
       [12129, 12333],
       [ 3366, 36837],
       [ 4673,  6334],
       [ 9487, 10214],
       [ 1837, 17878],
       [ 8026,  8515],
       [ 3935,  4518],
       [ 3659,  5148],
       [10231, 42303],
       [ 6849, 38998],
       [ 4149,  5327],
       [10601, 10602],
       [ 1981,  1824],
       [ 5012,  5377],
       [ 3171,  4349],
       [ 5584, 37742],
       [ 6770, 32787],
       [ 3176,  3353],
       [10791, 10577],
       [ 3171,  3556],
       [10594, 11944],
       [12430, 52590],
       [10065, 12475],
       [ 3693,  4266],
       [ 8233,  9249],
       [ 1621, 33732],
       [ 9504, 48675],
       [ 5969,  7729],
       [ 1628,  1964],
       [ 8442,  8444],
       [12648, 12347],
       [ 9095,  9301],
       [ 7160, 42124],
       [ 8627,  9991],
       [13470, 14319],
       [ 3277,  5428],
       [ 7421,  7626],
       [ 3260,  4906],
       [ 7742, 23401],
       [ 7222, 21098],
       [13470, 48173],
       [ 1534,  1917],
       [ 7050,  8219],
       [ 1135,  1725],
       [ 4646,  5976],
       [ 8688,  9361],
       [ 6849, 22144],
       [ 3704, 35491],
       [ 5966, 19515],
       [10156, 10107],
       [10065, 23244],
       [ 2104,  2789],
       [ 1877,  2261],
       [10796, 10594],
       [ 8798,  9304],
       [10601, 10435],
       [ 4571,  4894],
       [13822, 14313],
       [11363, 28287],
       [ 1515, 14426],
       [ 1702,  1627],
       [11165, 25517],
       [ 5469,  6555],
       [ 1837, 39611],
       [ 8835,  9964],
       [ 2203,  1720],
       [ 1633,  2730],
       [ 5910,  6500],
       [ 1909,  2643],
       [ 1744,  1719],
       [ 8703, 11085],
       [ 8283, 10115],
       [ 2497,  4846],
       [13470, 12982],
       [11931, 28923],
       [ 9875,  9391],
       [ 3260,  4544],
       [ 2473, 17128],
       [ 1702, 13844],
       [ 3704,  6113],
       [ 3736,  4441],
       [ 1631,  1633],
       [ 3171,  4058],
       [ 3070,  4435],
       [ 6849,  8310],
       [ 1826,  1986],
       [ 2494,  4260],
       [ 2473,  4504],
       [ 3176,  4428],
       [ 6272,  6117],
       [11842, 30184],
       [ 1615,  1708],
       [ 9174, 11187],
       [ 4646,  6796],
       [10594, 11356],
       [ 3171,  2498],
       [ 4992, 27375],
       [14256, 28101],
       [ 1909,  2254],
       [ 1664,  2597],
       [13555, 14692],
       [ 8283, 10370],
       [ 8964, 41097],
       [ 3392,  3981],
       [ 4883,  5472],
       [ 8534, 21223],
       [ 1826,  2534],
       [ 2045,  1972],
       [ 4399,  6406],
       [ 4889,  6551],
       [ 3277,  4058],
       [ 3866,  4243],
       [10601, 11512],
       [13393, 46889],
       [10601, 12268],
       [ 3353, 19199],
       [ 3659,  4433],
       [ 8068, 42969],
       [ 2396, 23241],
       [ 9283,  9140],
       [ 4320,  5836],
       [ 1146,  1149],
       [ 8062,  8765],
       [12557, 14043],
       [ 3070,  5312],
       [ 2473, 10795],
       [ 6770,  6282],
       [ 2352,  1969],
       [ 4746,  6746],
       [ 4719,  5354],
       [12129, 14001],
       [ 4766,  6877],
       [ 4762,  6196],
       [ 6686,  7986],
       [ 8233,  8277],
       [ 2352,  3206],
       [10976, 11848],
       [13887, 14210],
       [10226, 12265],
       [11165, 11837],
       [ 6272,  6652],
       [ 2721,  2137],
       [ 2203,  1131],
       [ 6948,  8342],
       [11362, 12244],
       [ 1621,  4561],
       [ 4931, 17626],
       [ 6571,  6875],
       [ 8601,  9447],
       [ 4234, 34254],
       [ 5484,  6067],
       [ 9863, 11729],
       [ 5469,  5383],
       [ 1532, 37465],
       [ 5920,  7371],
       [ 7045,  7325],
       [ 6849,  8410],
       [ 9625, 10461],
       [ 2007,  3279],
       [ 5979,  7727],
       [ 1515,  2731],
       [ 6250,  6858],
       [ 4040, 19521],
       [13555, 47305],
       [ 3021,  3987],
       [ 1837,  3238],
       [ 1744,  7323],
       [ 1628,  1704],
       [ 8334,  7445],
       [ 1727,  1629],
       [ 2721,  4877],
       [ 2483,  3561],
       [ 7222,  8605],
       [ 8601, 24520],
       [13555, 45710],
       [12638, 15019],
       [ 6770,  6664],
       [10601, 20709],
       [ 3471, 40932],
       [ 8534,  9500]])

## Making the Confusion Matrix

In [19]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
cm

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [20]:
accuracy_score(y_test,y_pred)

0.0037313432835820895